.list {
  list-style: none;
}
.link {
  text-decoration: none;
  
}
.address-color {
  color: #434455;
}
:root {
  --brand-color: #2e2f42
}
:root {
  --white-color: #FFFFFF
}
:root {
  --background-white: #F4F4FD
}
:root {
  --txt-grey: #434455
}
body {
  font-family: "Roboto", sans-serif;
}
/* =========================Header====================== */
.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}
.web {
  color: #4d5ae5;
}
.address-item {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
}
/* =========================/Header====================== */

/* ===================== Main=================== */
/* Title */
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero {
  background: var(--brand-color)
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4D5AE5;
  background: var(--background-white);
  width: 116px;
height: 48px;
cursor: pointer;

}
.btn:hover {
  color: var(--white-color);
  background: #404BBF;
}

/* /Title */
/* Goals */
.goals-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  /* identical to box height, or 120% */
  color: var(--brand-color);
}
.goals-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
}
/* /Goals */
/* What are we doing */
.tech-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}
/* /What are we doing */
/* Our Team */
.team {
  background: var(--background-white)
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.prof {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
}
/* /Our Team */
/* =====================/Main=================== */
.studio {
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--background-white) ;
}

.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-white);
   
}

.footer {
  background: var(--brand-color);

}


/* Portfolio */
.photo-dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
   
}
.photo-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey); 
}