.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  transition: color var(--animation-dur-and-cub);
  
}
.link:hover, .link:focus {
    color: var(--btn-blue);
    
}
.header-item-color {
  color: var(--brand-color);
}

:root {  --brand-color: #2e2f42;
--white-color: #FFFFFF;
 --background-white: #F4F4FD;
 --txt-grey: #4343434455;
 --text-blue: #4d5ae5;
  --btn-blue: #404BBF; 
--animation-dur-and-cub: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    margin: 0;
  }
  button {
    font: inherit;
   
    border: none;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    margin: 0;
  }
  textarea {
    resize: none;
  }
  .container {
    
   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  }
  @media screen and (min-width:768px) {
    .container {
      width:  768px ;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    
    }
    
  }
  @media screen and (min-width:1200px)  {
    .container {
      width:  1158px ;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;
    
    }
  }

  

.address-color {
  color: var(--txt-grey); }
body {
  font-family: "Roboto", sans-serif;
 
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* =========================Header====================== */
.header {
  position: fixed;
  z-index: 0;
  border-bottom: 1px solid #E7E9FC;
  background-color: #FFFFFF;
  width: 100%;
}
.page-header {
  height: 70px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 24px;
padding-bottom: 24px  ;
justify-content: space-between;

  
  
}
.nav {
  display: flex;
  align-items: center;
  
}
.menu {
  display: none;
  align-items: center;

 
}
.burger {
  background-color: transparent;
 
}

.address-menu {
display: none;
align-items: center;
}
.logo {
margin-right: 76px;


}

.menu-item {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);

  

}
.menu-link {
position: relative;

}
.menu-link::after {
 content:"" ;
 display: block;
 position: absolute;

  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  top: 44px;
  background: #404BBF;
  border-radius: 2px;

 padding-bottom: 0px;
visibility: hidden;
transition: visibility var(--animation-dur-and-cub);
   

}
.menu-link:hover:after {
  visibility: visible;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.address {
  margin-left: auto;
 display: flex;
 align-content: baseline;
}
.address-item:not(:last-child) {
  margin-right: 40px;
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}
.web {
  color: var(--text-blue);
}
.address-item {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
}
@media screen and (min-width:768px) {
  .page-header {
    max-width: 1199px;
    height: auto;
    width: 100%;
  }
  .address-item:not(:last-child) {
    margin-right: 0;
  }
  .burger {
    display: none;
  }
  .menu {
    display: flex
  }
  .address-menu {
    display: block;
    margin-left: 120px ;
    
  }
  .logo {
    margin-right: 120px ;
  }
  .nav {
    margin-left: auto;
    margin-right: auto;
  }
  
}
@media screen and (min-width:1200px) {
  .page-header{
    height: auto;
    
  }
  .nav {
    margin-left: 0;
    margin-right: 0;
  }
  .burger {
    display: none;
  }
  .header {
    position: static;
    
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
  .page-header {
    display: flex;
    align-items: center;
    padding-top: 24px;
  padding-bottom: 24px  ;
  
    
    
  }
  .nav {
    display: flex;
    align-items: center;
    
  }
  .menu {
    display: flex;
    align-items: center;
  
   
  }
  
  .address-menu {
  display: flex;
  align-items: center;
  }
 

}

 
/* =========================/Header====================== */

/* ===================== Main=================== */
/* Title */

.title {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 72px;







}

.hero {
  max-width: 480px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url('../images/mobile-bg.jpg') ;
  background-repeat: no-repeat;
 margin: 0 auto;
 background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/mobile-bg@2p.jpg') ;
  } 
}
@media screen and (min-width:481px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
     url('../images/tabler-hero-bg.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  .title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/tabler-hero-bg@2p.jpg') ;
  } 
}
}


@media screen and (min-width: 769px) {
  .hero {
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/1hero-back.jpg') ;
    background-repeat: no-repeat;
   margin: 0 auto;
   background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
width: 496px;
margin: 0 auto;
margin-bottom: 48px;
  }
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/1hero-back@2x.jpg') ;
  } 
}
}


.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-blue);
  background: var(--background-white);
  width: 116px;
height: 48px;
font-family: inherit;
justify-content: center;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border: 1px solid #E7E9FC;
transition:background-color var(--animation-dur-and-cub);



}
.btn:hover,             
.btn:focus {
  color: var(--white-color);
  background: var(--btn-blue);
  font-family: inherit
}
.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5 ;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;


  
  color: var(--white-color);
  background: var(--text-blue);    
  width: 169px;
height: 56px;
font-family: inherit ;
display: flex;

margin-right: auto;
margin-left: auto;
transition: background-color var(--animation-dur-and-cub);


}
.main-btn:hover,      .main-btn:focus {
  background: var(--btn-blue);  
}
.main-btn-pose {
  display: flex;
  justify-content: center;
}

/* /Title */
/* Goals */
.svg-item{

  display: none;


}



.goals-section-container {
  padding-top: 96px;
  padding-bottom: 96px;
}

.goals-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}


.goals-text {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
  display: flex;
  justify-content: start;
  max-width: 396px;
  margin-right: auto;
  margin-left: auto;
}
.goals-item {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width:768px) {
  .goals-list {
    
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }
  .goals-list-item {
    width: 356px ;

  }
  .goals-list-item:not(:nth-child(n+3)) {
    margin-bottom: 48px;
  }
  
}
@media screen and (min-width:1200px) {
  .svg-item {
    margin-bottom: 8px;
    height: 112px;
    width: 264px;
    display: flex;
    justify-content: center;
    background: #F4F4FD;
  border-radius: 4px;
  align-items: center;
  
  }
  
  
  .svg-list {
    display: flex;
  }
  .goals-section-container {
    padding-top: 120px;
    padding-bottom: 60px;
  }

 
  .goals-list {
    display: flex;
    flex-direction: row;
    gap: 0;
    flex-wrap: nowrap;
    
  }
  
  .goals-list-item:not(:last-child) {
    margin-right: 24px;
  }
  .goals-text {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
    display: flex;
    justify-content: start;
  }
  .goals-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--brand-color);
    margin-bottom: 8px;
    display: flex;
    justify-content: start;
  }
  
}

/* /Goals */
/* What are we doing */
.tech-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}
/* /What are we doing */
.tech {
  display: none;
}


@media screen and (min-width:1200px) {
  .tech {
    display: block;
  }
  .tech-container {
    padding-bottom: 120px;
    padding-top: 60px;
  }
  .tech-title {
    margin-bottom: 72px ;
  }
  .tech-img-list {
    display: flex;
    align-items: center;
    gap: 24px ;
    justify-content: center;
  }
  
}

/* Our Team */
.team-container {
  padding-bottom: 96px;
  padding-top: 96px;
}
.team-list {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 72px;
  
}
.team {
  background: var(--background-white)
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
  margin-bottom: 72px;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.prof {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
  margin-bottom: 8px;
}
.team-list-item {
  background: var(--white-color);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name {
  margin-bottom: 8px;
}
.team-prof {
  padding-top: 32px;
  padding-bottom: 32px;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}


.social-link {
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
fill: #F4F4FD ;
transition:   background-color var(--animation-dur-and-cub);
 
}
.social-link:hover, 
.social-link:focus {
  background-color: #404BBF ;
}

@media screen and (min-width:768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .team-list-item:not(:nth-child(n+3)) {
    margin-bottom: 40px;
}
}
@media screen and (min-width:1200px) {
  .team-container {
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .team-list {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    
  }
  .team-list-item:not(:nth-child(n+3)) {
    margin-bottom: 0;
  }
}

  

/* /Our Team */
/* Customers */
.customers-section-container {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customer-titles {
  
  font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--brand-color);
margin-bottom: 72px;


}
.customer-logo {
  transition: fill var(--animation-dur-and-cub);
}
.customer-container {
  display: block;
  text-align: center;
  justify-content: center;
}
.customer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap ;
  row-gap: 72px;
  column-gap: 16px;
}

.customer-link {
  width: 190px;
  height: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  transition: border-color var(--animation-dur-and-cub);
}


.customer-link:hover,
.customer-link:focus     {

  border-color: #404BBF;
  
}
.customer-link:hover .customer-logo {
  fill: #404BBF ;
}
.customer-link:focus .customer-logo{
  fill: #404BBF
}
.customer-logo {
  fill:  #8E8F99;
}
@media screen and (min-width:768px) {
  .customer-container {
    padding-left: 108px ;
    padding-right: 109px;
  }
  .customer-link {
    width: 166px;
    

  }
  .customer-list {
    gap: 24px;
    justify-content: start;
  }
  .customer-list-item:not(:nth-child(n+4)) {
    margin-bottom: 48px ;
  }
}

@media screen and (min-width:1200px) {
  .customer-container {
    padding-left: 0 ;
    padding-right: 0;
  }
  .customers-section-container {
    padding-top: 120px;
    padding-bottom: 120px;
  }

 


  .customer-list {
    display: flex;
    justify-content: space-between;
  }
  .customer-list-item:not(:nth-child(n+4)) {
    margin-bottom: 0 ;
  }
  
  .customer-link {
    width: 166px;

  }
  
 
}
/* =====================/Main=================== */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

 
}
.studio {
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--background-white) ;
}

.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-white);
  width: 264px;
}

.footer {

  background: var(--brand-color) ;
  padding-top: 101px;
  padding-bottom: 101px;
  display: flex;
  

}
.footer-link {
  margin-bottom: 18px ;
 margin-left: auto;
 margin-right: auto;
}
.footer-socials-title {
  font-weight: 500;
font-size: 16px;
line-height: calc(25 / 16);
letter-spacing: 0.02em;
color: var(--white-color);
margin-bottom: 16px ;

}
.footer-copy {
  display: flex;
 
  text-align: start;
  
  flex-direction: column;
  margin-bottom: 72px ;

  
  
}


.footer-social-logo {
  fill: #F4F4FD;
  

}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social-link{
  background-color: rgb(255, 255, 255, 0.1);
 border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color var(--animation-dur-and-cub);
}
.footer-social-link:hover, 
.footer-social-link:focus      {
  background: #31D0AA;
}
.footer-socials {
  margin-bottom: 72px ;
}
.footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.footer-form-input {
 display: flex;
 align-items: center;
 justify-content: center;
  background-color: transparent;
  border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
height: 40px;


  width: 396px;
  max-width: 100%;
  

  padding-left: 16px;
  transition: border var(--animation-dur-and-cub);
  color: #FFFFFF;
  margin-bottom: 16px;
}
.footer-form-input:focus {
  outline: hidden;
  border: 1px solid #31D0AA ;
}
.footer-form-title {
  
  font-weight: 500;
font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
color: #FFFFFF;

}
.footer-form-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  align-items: center;

}

.footer-form-input::placeholder {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 2;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;


}
.subscribe-btn {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 8px 24px;
background: #4D5AE5;
border-radius: 4px;
width: 165px;
height: 40px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF ;
margin-left: 24px;
transition: background-color var(--animation-dur-and-cub);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
background-color: #404BBF;
}

@media screen and (min-width:768px) {
  .footer-form {
    width: auto;
  }
  .footer-tablet-container {
    max-width: 551px;
  
   
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    
    text-align: start;
  }
  .footer-copy {
    display: block;
    margin-right: 24px;
    margin-bottom: 72px;
    text-align: start;

  }
  .footer-socials {
    margin-bottom: 144px;
  }
  .footer-form-content {
    flex-direction: row;
  align-items: start;
  
  }
  .footer-form-input {
    width:264px
     ;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet-container {
    max-width: 1140px;
    flex-wrap: nowrap;
  }
  .footer-form {
    width: auto;
  }
  .footer-link {
    margin-bottom: 18px ;
  }
  .footer-socials-title {
    font-weight: 500;
  font-size: 16px;
  line-height: calc(25px / 16px);
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px ;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    text-align: start;
  justify-content: space-between;
  }
  .footer-copy {
    display: block;
    margin-right: 120px;
    margin-bottom: 0;
    text-align: start;

  }
  
  

  
  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }


  .footer-socials {
    margin-right: 80px ;
    margin-bottom: 0;
  }
  .footer-form {
    display: flex;
    flex-direction: column;
  }
  .footer-form-input {
 
width:264px ;
    
  }
  .footer-form-input:focus {
    outline: hidden;
    border: 1px solid #31D0AA ;
  }
  .footer-form-content {
    position: relative;
    display: flex;
    margin-top: 16px;
    flex-direction: row;
    align-items: start;

  }




}


/* Portfolio */
.photo-dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
   
}
.photo-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey); 
  
}


/* Potfolio */
.gallary {
  padding-top: 96px;
}
.btn-list {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 24px ;
   margin-bottom: 60px;
}
.gallary-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px ;
}
.gallary-list-item {
  border: 1px solid #E7E9FC;
  border-top: none;
  padding-top: 32px ;
  padding-bottom: 32px ;
  padding-left: 16px;
}
.photo-dscr {
  margin-bottom: 8px;
}
.list-li:nth-last-child(n+4) {
  margin-bottom: 48px ;
}
.list-li {
  position: relative;

}
.img-shadov {
  
  display: inline-block ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  position: relative;
  overflow: hidden;
  transition: box-shadov var(--animation-dur-and-cub);
    }
.img-shadov:hover, 
.img-shadov:focus {

box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-shadov:hover .overlay,
.img-shadov:focus .overlay {
  transform: translateY(0);
}
.overlay-txt {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
width: 296px;
}
.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4D5AE5;
  height: 300px;
  padding: 32px 40px;
  transform: translateY(100%);
  transition: transform var(--animation-dur-and-cub);
}

/* Modal Window */
.backdrop {
  position: fixed ;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--animation-dur-and-cub), visibility var(--animation-dur-and-cub);
}
.modal {

  max-width: 408px;
  width: 100%;
  height: 584px;
  background-color: #FCFCFC;
  position: absolute;
  
  left: 50%;
  transform: translate(-50%,88px);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background: #E7E9FC;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.modal-close-btn:hover, 
.modal-close-btn:focus {
  background-color: #404BBF;
  fill: #FFFFFF ;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.form-container {
padding: 72px 24px 24px 24px ;
  

}
.form-title {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 16px;
}

.modal-item-title {
  font-weight: 400;
font-size: 12px;
line-height: 1.2;
letter-spacing: 0.04em;
color: #8E8F99;

}
.modal-item {
  height: 40px;
  
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
 padding-left: 40px;
 margin-bottom: 8px;
background-color: transparent;
color: black;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
transition: border var(--animation-dur-and-cub);
}
 
.modal-svg {
  position: absolute;
  top: 31px;
  left: 19px;
  transition: fill var(--animation-dur-and-cub);
}

.modal-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
height: 114px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
padding-left: 16px;
margin-bottom: 16px;
background-color: transparent;
color: black;
padding-top: 8px;

}
.checkbox-txt {
  font-weight: 400;
font-size: 12px;
line-height: 1.2px;
letter-spacing: 0.04em;
color: #8E8F99;

}
.pivacy-police {
  color: #4D5AE5;

  text-decoration: underline;
}
.pivacy-police:focus {
  outline: none;
}
.modal-send-btn {
  justify-content: center;
align-items: center;
  width: 169px;
height: 56px;
background-color : #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin: 0 auto;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--white-color);
margin-bottom: 24px;
transition: background-color var(--animation-dur-and-cub);
}
.modal-send-btn:hover,
.modal-send-btn:focus  {
background-color: #404BBF;
}

.modal-item:focus {
  outline: none;
  border-color:#4D5AE5 ;
}
.modal-item:focus + .modal-svg{
  fill: #4D5AE5 ;
}
.modal-textarea:focus {
  outline: none;
  border-color:#4D5AE5
}
.modal-check-box {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkbox-txt::before{
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color var(--animation-dur-and-cub), background-image var(

  );
  margin-right: 8px;
}
.modal-form-check:checked + .checkbox-txt:before {
  background-color:  #404BBF ;
  background-image: url(../images/galochka.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.modal-form-check:focus + .checkbox-txt:before {
  border-color:  #404BBF ; }
  
 @media screen and (min-width:768px) {
  .modal-check-box {
    margin-bottom: 24px;
  }
  
 }
 /* Mobile-menu */
 .mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  
  transform: translateX(100%);
  transition: transform var(--animation-dur-and-cub), opacity var(--animation-dur-and-cub), visibility var(--animation-dur-and-cub);
  padding: 40px 40px;
  padding-top: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #FFFFFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }
 .is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
 }
 .mobile-menu-social-list {
  
 justify-content: space-between
  ;
 }
 .mobile-menu-item {
  font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;

 }
 .mobile-menu-social-list {
  justify-content: start;
  gap: 56px;
 }
 .mobile-menu-item:not(:last-child)
 {
  margin-bottom: 40px;
 }
 .mobile-menu-link:focus  {
  color: #404BBF;
 }
 .mobile-address-item-phone {
  display: inline-block;
  font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #4D5AE5;
margin-bottom: 40px;
 }
 .mobile-address-item-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 48px;
 }
