.list {
  list-style: none;
}
.link {
  text-decoration: none;
  
}
.link:hover, :focus {
    background-color: var(--btn-blue);
    color: var(--white-color);
}
.header-item-color {
  color: var(--brand-color);
}

:root {  --brand-color: #2e2f42;
--white-color: #FFFFFF;
 --background-white: #F4F4FD;
 --txt-grey: #434455;
 --text-blue: #4d5ae5;
  --btn-blue: #404BBF; }

.address-color {
  color: var(--txt-grey); }
body {
  font-family: "Roboto", sans-serif;
}
/* =========================Header====================== */
.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--brand-color);
}
.logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}
.web {
  color: var(--text-blue);
}
.address-item {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
}
/* =========================/Header====================== */

/* ===================== Main=================== */
/* Title */
.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}
.hero {
  background: var(--brand-color)
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-blue);
  background: var(--background-white);
  width: 116px;
height: 48px;
cursor: pointer;
font-family: inherit


}
.btn:hover,             :focus {
  color: var(--white-color);
  background: var(--btn-blue);
  font-family: inherit
}
.main-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--white-color);
  background: var(--btn-blue);    
  width: 169px;
height: 56px;

cursor: pointer;
font-family: inherit

}

/* /Title */
/* Goals */
.goals-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* identical to box height, or 120% */
  color: var(--brand-color);
}
.goals-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
}
/* /Goals */
/* What are we doing */
.tech-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}
/* /What are we doing */
/* Our Team */
.team {
  background: var(--background-white)
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--brand-color);
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.prof {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--txt-grey);
}
/* /Our Team */
/* =====================/Main=================== */
.studio {
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--background-white) ;
}

.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-white);
   
}

.footer {
  background: var(--brand-color);

}


/* Portfolio */
.photo-dscr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--brand-color);
   
}
.photo-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--txt-grey); 
}